.MovieDetails{
  display: flex;
}


.MovieInfo{
border: solid;
border-width: 4px;
border-radius: 7px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-color: #7f1515;
color: #7f1515;
height: auto;
width: 100vh;
margin: 10px;
padding-bottom: 20px;
padding-left: 15px;
padding-right: 30px;
}


.MovieInfo p {
font-size: 32px;
padding: 0 4px;
}


.Information{
  font-size: 32px;
  background-color: black;
}


.MovieInformation h1{
font-size: 80px;
margin-top: 15px;
margin-bottom: 0px;
}

.ShowTimes {
  font-size: 32px;
  display: flex;
  align-items: center;
}


.MovieImage{
  background-color: black;
  width: 100vh;
  height: 124vh;
  margin:  10px;
}


.buttonInfo button[type="Submit"] {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white; 
  color: black; 
  font-size: 40px; 
  border: none; 
  padding: 10px 20px; 
  margin-left: 25%;
  margin-bottom: 3px;
  cursor: pointer; 
  border-radius: 5px; 
  position:relative;
}


.buttonInfo button[type="Submit"]{
  display: flex;
  justify-content: center;
  margin-left: 235px;
}


.MovieImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 15px;
  }
  
  .MovieInfo div {
    display: flex;
    align-items: center;
  }
  
  .MovieInfo #reviewInput {
    flex-grow: 1;
    margin-right: 10px; 
    margin-left: 10px;
  }
  
  .MovieInfo button[type="button"] {
    background-color: #7f1515;
    color: white;
    font-size: 14px; 
    border: none;
    padding: 10px 15px; 
    margin-left: auto;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 5px;
  }

 