
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff; 
  }
  
  .CheckoutUI {
    display: flex;
    justify-content: space-between;
   align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .LeftSection,
  .MiddleSection,
  .RightSection {
    flex: 1;
    padding: 20px;
    background-color: #ff00008b;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px; 
  }
  
  
  .LeftSection h2,
  .MiddleSection h2,
  .RightSection h2 {
    font-family: 'Play';
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 0px;
  }
  
  .LeftSection p,
  .MiddleSection label {
    font-family: 'Play';
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .LeftSection input[type="text"],
  .MiddleSection input[type="text"],
  .MiddleSection select,
  .MiddleSection textarea {
    font-family: 'Play';
    width: 100%;
    padding: 1dvh;
    padding-right: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
  }

  .MiddleSection {
    text-align: center;
  }

  .AddCard {
    background-color: #ffffff; 
    color: #000000;
    font-family: 'Play';
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
  }

  .AddCard:hover {
    background-color: #e98d7b; 
  }


  .PromotionCodeInput {
    display: flex;
    align-items: center;
  }

  .PromotionCodeInput input[type="text"] {
    flex: 1; 
    padding: 10px;
    margin-right: 10px; 
  }
  
  .PromotionCodeInput button_1 {
    font-family: 'Play';
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }  

  button_1:hover {
    background-color: #e98d7b; 
  }
  

  .OrderSummaryList {
    font-family: 'Play';
    width: 95%;
    padding: 1dvh;
    color:#ffffff;
    margin-bottom: 10px;
    border: 1.5px solid #000;
    font-size: 16px;
    line-height: 2;
  }
  
  .ButtonContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .ConfirmButton {
    font-family: 'Play';
    margin-top: 8px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5% 30%; 
    font-size: 22px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    white-space: nowrap;
  }



  .CancelButton {
    font-family: 'Play';
    margin-top: 15px;
    background-color: #292929;
    padding: 12px 12px; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ConfirmButton:hover {
    background-color: #e98d7b; 
  }

  .CancelButton:hover {
    background-color: #000000;
  }
  