.browse{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    align-items: center;
}

.Results{
    background-color: black;
}

.searchBar label {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.searchBar select {
    padding-top: 19px;
    padding-bottom: 19px;
}
.searchBar{
    padding-top: 20px;
    padding-bottom: 20px;
}
.searchBar input{
    height: 40px;
    width: 200px;
    font-size: 35px;
}

.searchBar button{
    padding: 16px;
    font-size: 35px;
}

