
.formg {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  h1 {
    color:#7f1515;
    font-size: 2em;
    line-height: 1.3em;
  }
  
  .labele {
    color:#b9b8b8;
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    background-color: #7f1515;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #e98d7b;
  }
  