@import url('https://fonts.google.com/specimen/Play');

.EditProfile {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    margin-top: 20px;
    text-align: center;
  }

.borderGroup{
  border: 3px solid #ff00008b;
}
  
   h1 {
    font-family: 'Play';
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    color: #ffffff;
    font-size: 2em;
    line-height: 1.3em;
  }

  h2 {
    font-family: 'Play';
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.3em;
  }

  h3 {
    font-family: 'Play';
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.3em;
  }

  .form-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #000000;
  }
  
  .labele {
    font-family: 'Play';
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
    width: 150px;
    display: inline-block;
    text-align: right;
  }
  
.input-field  {
    border: 5px solid #ff0000;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  button[type="submit"] {
    font-family: 'Play';
    background-color: #7f1515;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: e6aaaae1;
  }
