.ManagerView {
    display: flex;
    justify-content: space-between ;
    background-color: black;
    margin-left: 20px;

}

#MVRight{
    border: 1px;
    border-color: aliceblue;
}

#MVLeft{
    display: flex;
    flex-direction: column;
    width: 700px;
}


#editInfo{
    margin-right: 10px;
}