.manage-promotions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotions-section {
    border: 1px solid #ddd; 
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.promotions-section h1 {
    margin-bottom: 10px; 
    white-space: nowrap; 
}

input {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #7f1515;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}


.all-promotions-section label {
    color: #ddd;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 10px;
    
}

.all-promotions-section span {
    margin-left: 3px;
    margin-right: 35px; 

}

.all-promotions-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: max-content; 
    gap: 10px;
}

.promo-entry {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
    align-items: center;
}

.all-promotions-section label {
    color: #ddd;
    font-weight: bold;
    margin-right: 5px;
}

.all-promotions-section span {
    margin-left: auto;
}
