.Movie{
    padding: 10px;
    float: left;
    border-radius: 25px;
    margin: auto;
    width: 30vw;

}

#MovieBlock {
    background-color: hsla(0, 100%, 50%, 0.545);
    height: 80vh;
    border-radius: 25px;
    overflow: hidden;
}

.movieImage{
    background-color: aqua;
    max-width: 100%;
    max-height: 72%;
    height: 72%;
}

.movieImage img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.movieInfo{
    max-width: 100%;
    max-height: 100%;
    height: 28%;
}

.movieInfo h1{
    padding: 0;
    margin-bottom: -25px;
    font-size: 70px;
    color: white;
}

.rating {
    padding: 0;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.Movie button[type="Submit"] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white; /* Set background color */
    color: black; /* Set text color */
    font-size: 20px; /* Set font size */
    border: none; /* Remove default border */
    margin: -10px;
    padding: 10px 20px; /* Set padding */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 5px; /* Add rounded corners */
    position: relative;
  }

  .button{
    display: flex;
    justify-content: center;
  }








