.Movie{
    display: flex;
    align-items: center;
    padding: 10px;
    float: left;
    border-radius: 25px;
}

#MovieBlock {
    width: 200px;
    background-color: blanchedalmond;
    height: 70vh;
    align-content: center;
    border-radius: 25px;
    
}