
.addMovie {
    width: 650px;
    margin: 0px;
    padding: 20px;
    border: 3px solid #ff00008b;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  h1 {
    color:#7f1515;
    font-size: 2em;
    line-height: 1.3em;
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }
  
  
  .label {
    color:#b9b8b8;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #df0000;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input[type="checkbox"] {
   margin-right: 400px;
  }

  select{
    padding: 8px;
    border: 1px solid #df0000;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label label {
    margin-left: -390px; 
    color:#b9b8b8;
    font-weight: bold;
    margin-top: 5px;
  }

  .checkbox-label input[type="checkbox"] {
    vertical-align: middle; 
    margin-top: 12px;
  }
  
  .input-container button[type="submit"] {
    background-color: #7f1515;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 290px;
    font-size: 14px;

  }
  
  button[type="submit"]:hover {
    background-color: #e98d7b;
  }
  